* {
  user-select: none;
}

html {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: $font;
    background-color: $black-color;
    position:relative;

    touch-action: manipulation;

    #loading {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-color;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .progress-bar{
        margin-top: 20px;
        width: 150px;
        height: 20px;
        border-radius: 5px;
        will-change: contents;
        background: rgba(255, 255, 255, 0.11);
        overflow: hidden;
        > div{
          background: $red;
          height: 20px;
        }
      }

      h3 {
        color: $white-color;
      }
    }

    #transition {
      z-index: 101;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      visibility: hidden;
      opacity: 0;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .debugPanelWrapper {
      position: absolute;
      top: 50%;
      left: -250px;
      transform: translateY(-50%);
      width: 280px;
      height: 12rem;
      background-color: $black-color;

      display: flex;

      .debugButtonsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex-grow: 1;

        .debugButton {
          color: $white-color;
          font-size: 2rem;
          padding: 1rem;
          margin: .5rem;
          border: 1px solid $white-color;
          box-sizing: border-box;
        }
      }

      .debugPanelHandle {
        width: 30px;
        height: 100%;

        background-color: $black-color;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        fill: $white-color;
      }
    }

    .debugLogsWrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .debugLog {
        text-align: right;
        color: $white-color;
        font-size: 1em;
        font-family: Verdana, serif;

        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .8) 100%);

        width: 70%;
        padding: .5em;
      }
    }
  }
}

#message{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  width: 200px;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: white;
  &.active{
    display: flex;
  }
}

#slide-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;

  opacity: 0;

  pointer-events: none;
  transform: translateZ(0);
  will-change: contents;
  backface-visibility: hidden;

  background: $background-color;
  z-index: 200;
  text-align: center;
  >div{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.clickable{
    pointer-events: auto;
  }
  .date{
    font-family: $font_alt;
    span{
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      &:last-child {
        font-size: 14px;
        line-height: 18px;
        color: $red;
        margin-top: 20px;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}