#cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $fog-background ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  img.logo {
    max-width: 55%;
    margin: 20vh 0;
  }

  img.icon{
    margin-bottom: 25px;
  }

  p {
    height: 30px;
    width: 200px;
    color: $white;
    font-family: $font;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }

  button{
    margin-top: 30px;
  }
}