$app_height_name : 64px;

.app {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  display: none;
  z-index: 100;
  pointer-events: initial;

  .app-close {
    position: absolute;
    left: 32px;
    top: 23px;
    width: 29px;
    height: 20px;
    cursor: pointer;
    pointer-events: auto;
    &_bottom{
      top: unset;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      bottom: 100px;
    }
  }

  &.app_title-only {
    height: $app_height_name;
    background: transparent;
    pointer-events: none;
  }
  &.display{
    display: block;
  }
  .app-name {
    background: rebeccapurple;
    height: $app_height_name;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > span{
      font-weight: bold;
    }
  }
  .app-content {
    height: calc(100% - #{$app_height_name});
    overflow: auto;
    margin-top: $app_height_name;
    padding: 0 30px;
    h2{
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
    }
    &_full{
      margin-top: 0;
      height: 100%;
    }
    &_center{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .app-list{
    display: grid;
    grid-template-columns: 1fr;

    &-item{
      padding: 10px 0px;
      border-bottom: 1px solid transparentize($grey, 0.5);
      position: relative;
    }
  }

  .app-toggler {
    cursor: pointer;
  }
  .app-toggled{
    display: none;
    &.active{
      display: block;
    }
  }

  .app-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    &-item{
      overflow: hidden;
      border-radius: 5px;
      > img{
        height: 100%;
        transform: scale(1.1,1.1);
        width: 100%;
        transition: 0.5s;
        position: relative;
        left: 0;
        top: 0px;
      }
      &:hover {
        > img {
          transform: scale(1, 1);
        }
      }
    }
  }

  .slider{
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    .slide{
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }

  .app-icon-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
  }
  .app-icon{
    max-width: 80px;
    cursor: pointer;
    border-radius: 100%;
    margin-bottom: 120px;
    position: relative;
    transition: 1s;
    &:hover{
      transform: scale(1.2, 1.2);
    }
    &:nth-child(odd){
      margin-bottom: 0;
      margin-top: 120px;
    }
    img{
      width: 100%;
      box-sizing: border-box;
    }
  }
}