.notification{
  background: $red;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  &.active{
    opacity: 1;
  }
}

#phone-opener{
  .notification{
    width: 24px;
    height: 24px;
    top: 2px;
    right: 0;
  }
}



.red-bubble{
  width: 250px;
  height: 250px;
  background: $red;
  z-index: 9;
  position: absolute;
  bottom: -70px;
  border-radius: 100%;
  left: -30px;
  transition: 1s;
  &.hided {
    opacity: 0;
    left: -250px;
    bottom: -250px;
  }
}