.btn {
  border: 0;
  border-radius: 10px;
  background: $red;
  color: $white;
  font: inherit;
  cursor: pointer;
  padding: 14px 25px 12px;
  margin-top: 10px;
  transition: 1s;
  height: 45px;
  width: 260px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  box-sizing: border-box;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

button.btn-secondary{
  position: relative;
  color: $red;
  font-size: 14px;
  line-height: 18px;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  padding-right: 20px;
  padding-left: 0;
  &:after{
    content: '';
    background: url("../../images/back.svg") no-repeat;
    width: 12px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}